@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

.Toastify__toast-container--top-right {
	top: 6rem;
	right: 1rem;
}

.dark .Toastify__toast-theme--light {
	background-color: black;
	color: white;
}
