@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

:root {
	font-size: 10px;
}

.Toastify__toast-container--top-right {
	top: 6rem;
	right: 1rem;
}

.dark .Toastify__toast-theme--light {
	background-color: black;
	color: white;
}

.active {
	border-bottom: 1px solid black;
}

.dark .active {
	border-bottom: 1px solid white;
	font-weight: bold;
}

.sidebar .active {
	border-bottom: none;
	font-weight: bold;
}

.dark .sidebar .active {
	border-bottom: none;
}

@media screen and (min-width: 300px) {
	:root {
		font-size: 12px;
	}
}

@media screen and (min-width: 769px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: 1580px) {
	:root {
		font-size: 20px;
	}
}

@media screen and (min-width: 1780px) {
	:root {
		font-size: 24px;
	}
}
@media screen and (min-width: 2080px) {
	:root {
		font-size: 28px;
	}
}
